(
    id: "master_node",
    function: Some("master_node"),
    model: "master_node",
    data: ({
        "inactive_model": Id("master_node_inactive"),
        "linking": Bool(true),
        "default_tile": Bool(true),
    }),
)