(
    id: "node",
    function: Some("node"),
    model: "node",
    data: ({
        "inactive_model": Id("node_inactive"),
        "linked": Bool(true),
        "default_tile": Bool(true),
    }),
)