(
    id: "sorter",
    function: Some("sorter"),
    model: "sorter",
    data: ({
        "item_type": Id("#any"),
        "inactive_model": Id("transfer_tile_inactive"),
        "default_tile": Bool(true),
    }),
)